*{  
    margin: 0;
    padding: 0;
}   

.topnav{
    background-color:rgb(38, 24, 43);
    overflow:hidden;
}
.topnav a {
    float: left;
    color: rgb(255, 230, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a:hover{
    background-color:none;
    color: rgb(71, 170, 232);
    opacity: 1;
}
form{
    width:35rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(195, 255, 0, 0.125);
    padding: 20px 25px;
}

input[type=text],input[type=password]{
    width: 100%;
    padding:12px 20px;
    border: 2px solid #ccc;
    
}

